body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('library2.jpg');
    background-position: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-size: cover;
    overscroll-behavior: none;
    min-height: 120vh; 
    position: relative;
}
.container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    margin-bottom: 50px;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.0.4);
}

h1, h2 {
    color: #333;
    text-align: center;
}

p {
    font-size:large;
    font-weight: 500;
    color: #333;

}

.people-image {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.people-image img {
    width: 275px;
    border-radius: 20%;
    box-shadow: 0 0 10px rgba(0,0,0,0.0.3);
}

.navbar li {
    float: none;
    text-align: right;
}



.menu-toggle {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 999;
    background-color: #FEF3D5;
    color: #333;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}

.navbar {
    border-radius: 10px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.95);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    transition: width 0.3s ease;
    z-index: 900;
}

.navbar.open {
    width: 250px;
}


.navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-top: 150px; 
}

.navbar a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background: #FEF3D5;
    color: black;
}

.navbar .active {
    background-color: #FEF3D5;
    color: black;
}

.message-bar {
    margin-top: 30px;
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #333;
    text-align: center;
    width: 100%;
}
