body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('library2.jpg');
    background-position: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-size: cover;
    overscroll-behavior: none;
    min-height: 120vh;
    position: relative;
}

.container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    margin-bottom: 50px;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.04);
    min-height: 700px;
}

h1, h3 {
    color: #333;
    text-align: center;
}

h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.menu-toggle, .filter-toggle {
    position: fixed;
    top: 20px;
    z-index: 999;
    background-color: #FEF3D5;
    color: #333;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.menu-toggle {
    left: 20px;
}
.filter-toggle {
    right: 20px;
}

.navbar {
    border-radius: 10px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.95);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    transition: width 0.001s ease;
    z-index: 900;
}
.filter-bar h3{
    text-align: left;
    margin-left: 10 px;
}
.filter-bar {
    border-radius: 10px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.95);
    position: fixed;
    top: 75px;
    right: 10px;
    width: 0;
    transition: width 0.3s ease;
    z-index: 900;
    text-align: left;
}

.navbar.open {
    width: 250px;
}

.navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-top: 150px;
}

.navbar a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover, .navbar .active {
    background: #FEF3D5;
    color: black;
}


.filter-bar.open {
    width: 250px;
}

.filter-bar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-top: 20px;
}

.filter-bar label {
    display:block;
    margin-bottom: 10px;
    margin-left: 20px;

}

.search input[type="checkbox"] {
    display: inline-block;
    width: 500 px;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}



.filter-bar input[type="text"]:focus {
    width: 90%;
}

#book-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 60px; 
}

.search-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.search-bar input[type="text"] {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: width 0.3s ease;
}

.search-bar input[type="text"]:focus {
    width: 90%;
}

p {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: small;
}

.book {
    position: relative;
    width: 230px;
    max-height: 310px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: transform 0.3s;
}

.book img {
    max-height: 170px;
    width: 100%;
    border-radius: 5px;
}

.book a {
    text-decoration: none;
    color: inherit;
}

.book:hover {
    transform: scale(1.05);
}

.book-buttons {
    position: absolute;
    top: 10px;
    right: 10px;
}


.download-button {
    width: 40px;
    height: 40px;
    background-color: #FEF3D5;
    border-radius: 5px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.download-button img {
    width: 70%;
    height: 70%;
}

.download-button:hover {
    background-color: #f0f0f0;
    border-radius: 5px;
}

.book-description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.nodata{
    font-size: larger;
}