* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  background-image: url('library.jpg');
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-size: cover;
  overscroll-behavior: none;
  min-height: 100vh; 
  position: relative;
}

header {
  color: #fff;
  padding: 10px 0;
}

.container {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}
h2 {
  font-size: 20px;
  margin-bottom: 16px;
}
h3 {
  text-align: center;
  margin-bottom: 5px;
}
p {
  line-height: 1.6;
  margin-bottom: 20px;
}

.book-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 40px;
}

.book {
  position: relative;
  width: 250px;
  max-height: 400px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: transform 0.3s;
}

.book img {
  max-height: 170px;
  width: 100%;
  border-radius: 5px;
}
.book p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: small;
}
.book a {
  text-decoration: none;
  color: inherit;
}

.book:hover {
  transform: scale(1.05);
}

.book-description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.book-buttons {
  position: absolute;
  top: 5px;
  right: 5px;
}


.download-button {
  width: 40px;
  height: 40px;
  background-color: #FEF3D5;
  border-radius: 5px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.download-button img {
  width: 70%;
  height: 70%;
}

.download-button:hover {
  background-color: #f0f0f0;
  border-radius: 5px;
}

.menu-toggle {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 999;
  background-color: #FEF3D5;
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 15px 30px;
  font-size: 18px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.navbar {
  border-radius: 10px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.95);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  transition: width 0.3s ease;
  z-index: 900;
}

.navbar.open {
  width: 250px;
}

.navbar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 150px;
}

.navbar a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background: #FEF3D5;
  color: black;
}

.navbar .active {
  background-color: #FEF3D5;
  color: black;
}

.view-more-btn {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  width: 200px;
  background-color: #FEF3D5;
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 24px;
  transition: background-color 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.view-more-btn:hover {
  background-color: #f0f0f0;
}

.message-bar {
  border-radius: 10px;
  position: absolute;
  max-width: 900px;
  max-height: 200px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: #333;
  padding: 10px 20px;
  text-align: center;
  width: 100%;
}
