/* Reset CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  background-image: url('library2.jpg');
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-size: cover;
  overscroll-behavior: none;
  min-height: 100vh; 
  position: relative;
}

header {
  color: #fff;
  padding: 10px 0;
}

.container {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}
h2 {
  font-size: 20px;
  margin-bottom: 16px;
}
p {
  line-height: 1.6;
  margin-bottom: 20px;
}

.featured-books {
  justify-content: space-between;
  margin-bottom: 40px;
}

.featured-books h2 {
  font-size: 20px;
}


.upcoming-books {
  margin-bottom: 40px;
}

.upcoming-books h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.upcoming-books ul {
  list-style: none;
}

.upcoming-books li {
  margin-bottom: 10px;
}


.book-container {
  display:flex;
  justify-content: space-between;
}

.book {
  width: 250px;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.book img {
  border-radius: 5px;
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.book h3 {
  font-size: 16px;
  margin-bottom: 5px;
}

.book p {
  font-size: 14px;
  margin-bottom: 5px;
}
.navbar li {
  float: none;
  text-align: right;
}



.menu-toggle {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 999;
  background-color: #FEF3D5;
  color: #333;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.navbar {
  border-radius: 10px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.95);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  transition: width 0.3s ease;
  z-index: 900; /* Ensure it's below the menu toggle button */
}

.navbar.open {
  width: 250px;
}


.navbar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 150px; /* Adjust the top margin to avoid overlapping with the menu toggle button */
}

.navbar a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background: #FEF3D5;
  color: black;
}

.navbar .active {
  background-color: #FEF3D5;
  color: black;
}


.view-more-btn {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  width: 200px;
  background-color: #FEF3D5;
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 24px;
  transition: background-color 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);

}

.view-more-btn:hover {
  background-color: #555;
  color: #f0f0f0;
}


.message-bar {
  border-radius: 10px;
  position: absolute;
  max-width: 900px;
  max-height: 200px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: #333;
  padding: 10px 20px;
  text-align: center;
  width: 100%;
}
